.main-header .logo .logo-lg {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  display: inline-block;
}

.skin-blue .sidebar-menu .treeview-menu>li>a.active, .skin-blue .sidebar-menu .treeview-menu>li>a:hover {
  color: #ffffff;
}

.sidebar-menu li>a>.fa-angle-left, .sidebar-menu li>a>.pull-right-container>.fa-angle-left {
  -webkit-transition: transform .5s ease;
  -o-transition: transform .5s ease;
  transition: transform .5s ease;
}

// pagination

.pagination {
  margin: 0;
}

.pagination-info {
  line-height: 37px;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li > a.active {
  color: #fff;
  background: #1e282c;
  border-left-color: #3c8dbc;
}

// Checkbox blueprint

.delete-checkbox {
  margin-bottom: 0px;
  padding-left: 0px;
}

.form-group.has-error {
  .Select-control, .Select-menu-outer {
    border-color: #dd4b39;
  }
  .Select-placeholder, .Select-clear-zone{
    color: #dd4b39;
  }
  .Select-arrow {
    border-color: #dd4b39 transparent transparent;
  }
}

.registed {
  color: #83cc14;
}

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .main-header .logo > .logo-mini {
    display: inline-block;
    vertical-align: middle;
  }
}
